<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>



</body>
</html>